body {
    font-family: 'Didact Gothi', sans-serif;
    text-align: center;
 /*    background: url('files/bck.png'); */
}

h1 {
    padding-right: 20px;
    font-size: 70px;
    margin-bottom:  25px;
   /*  background: url('files/bck.png'); */
}

h2 {
    margin-bottom:  20px;
}

h2:first-of-type {
    margin-top: 0.5em;
}

#picker-icon {
    width: 80px;
    display: block;
    margin:  0 auto;
    margin-bottom: 10px;
}

table,
tr,
td {}

table {
    border: 1px solid lightgray;
    background: #837f73;    
 /*    opacity: .9; */
    border-collapse: collapse;
    margin: 40px auto;
}

tr {
    height: 8px;
}

td {
    width: 8px;
}

input[type=number] {
    width: 50px;
    margin-right: 20px;
}

input[type=color] {
    width: 30px;
    height: 30px;
    background: transparent;
}

.colors {
    box-sizing: border-box;
    border: 1px solid gray;
    display: inline-block;
    padding: 10px;
    width: 30px;
    height: 30px;
}


.colors:nth-child(3) {
    background: black;
}

.colors:nth-child(4) {
    background: #a37323;
}

.colors:nth-child(5) {
    background: #294c4e;
}

.colors:nth-child(6) {
    background: #dba98b;
}

.colors:nth-child(7) {
    background: #e9d6b4;
}

.colors:nth-child(8) {
    background: #b60309;
}

.colors:nth-child(9) {
    background: #8f8057;
}

